@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

:root {
    --Purple: #5722CD;
    --Blue: #4845E4;
    --Pink: #ED4385;
    --Black: #0C0C0C;
    --Light-Purple: #F2F0FF;
    --Light-Gray: #F3F6F9;
    --Gray: #7A7A7A;
}

/*How to use example:*/

/*div {*/
/*    border-color: var(--Light-Gray);*/
/*}*/

/*////////////////////////
    Table of Contents
    1. Typography
    2. Layout
        3.1 Reusable
        3.2 Other
    3. Areas
        4.1 Header
        4.2 Introduction
        etc.
    4. Media Queries
////////////////////////*/

/* ------------------------------- 1. Typography ----------------------------------- */

/* ------------------------------- 2. Layout --------------------------------------- */

/* --------------- 2.1 Reusable ----------------------- */

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- 2.2 Other --------------------------- */

button {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: var(--Pink);
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(5, 5, 5, 0.3);
    padding: 25px 40px;
    margin: 28px 0;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 3. Areas ---------------------------------------- */

/* --------------- 3.1 Header ------------------------- */


#header {
    background: var(--Blue);
    background: linear-gradient(131deg, #4845E4 0%, #4c49b6 58%, #7068fc  100%);
    color: white;
    padding: 30px 0;
    position: relative;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.navigation ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
}

.navigation a {
    color: white;
}

.header-content {


    padding: 100px 0;
    margin-bottom: 88px;
    font-size: 28px;

}




/*Border check*/

/*nav {*/
/*    border: 1px var(--Pink);*/
/*    border-style: solid;*/
/*}*/
/*li {*/
/*    border: 1px var(--Black);*/
/*    border-style: solid;*/
/*}*/

/* --------------- 3.2 Introduction ------------------- */

#intro {
    background-color: white;
    color: var(--Purple);
}

/* ------------------------------- 4. Media Queries -------------------------------- */